


<div id="main-wrapper">
  <app-spinner></app-spinner>
    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

            <!--
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            -->
             <!--   <button (click)="showDialog = !showDialog" class="btn">Open</button>

          <app-modal-imagen >
              <h1>Hello World</h1>
              <button (click)="showDialog = !showDialog" class="btn">Close</button>
            </app-modal-imagen>-->
        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 20xx Admin Pro by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>


</div>



