<app-spinner></app-spinner>
<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(../../../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">

      <form class="form-horizontal form-material form-control-line m-t-30" id="loginform" (ngSubmit)="onSubmit()"
        autocomplete="off" novalidate [formGroup]="registroForm">
        <app-spinner></app-spinner>
        <a href="javascript:void(0)" class="text-center db"><img src="../../../assets/images/logo-icon.png"
            alt="Home" /><br /><img src="../../../assets/images/logo-text.png" alt="Home" /></a>
        <h3 class="box-title m-t-40 m-b-0">Registrarse Ahora</h3><small>Crea tu cuenta </small>


        <div class="form-group" [ngClass]="{
          'has-danger':registroForm.get('nombre').invalid  && (registroForm.get('nombre').dirty || registroForm.get('nombre').touched),
          'has-success':registroForm.get('nombre').valid && (registroForm.get('nombre').dirty || registroForm.get('nombre').touched)
        }">
          <div class="col-xs-12">
            <input class="form-control" [ngClass]="{
             'form-control-danger':registroForm.get('nombre').invalid  && (registroForm.get('nombre').dirty || registroForm.get('nombre').touched),
             'form-control-success':registroForm.get('nombre').valid && (registroForm.get('nombre').dirty || registroForm.get('nombre').touched)
            }" type="text" placeholder="Nombre" formControlName="nombre">

            <div class="form-control-feedback"
              *ngIf="registroForm.get('nombre').errors && (registroForm.get('nombre').dirty || registroForm.get('nombre').touched)">
              <p *ngIf="registroForm.get('nombre').errors?.required">{{mensajesError.nombre}}</p>
              <p *ngIf="registroForm.get('nombre').errors?.minlength">Nombre debe tener al menos 2 carácteres</p>

            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{
          'has-danger':registroForm.get('email').invalid  && (registroForm.get('email').dirty || registroForm.get('email').touched),
          'has-success':registroForm.get('email').valid && (registroForm.get('email').dirty || registroForm.get('email').touched)
        }">
          <div class="col-xs-12">
            <input class="form-control" [ngClass]="{
             'form-control-danger':registroForm.get('email').invalid  && (registroForm.get('email').dirty || registroForm.get('email').touched),
             'form-control-success':registroForm.get('email').valid && (registroForm.get('email').dirty || registroForm.get('email').touched)
            }" type="email" placeholder="Email" formControlName="email">

            <div class="form-control-feedback"
              *ngIf="registroForm.get('email').errors && (registroForm.get('email').dirty || registroForm.get('email').touched)">
              <p *ngIf="registroForm.get('email').errors?.required">{{mensajesError.email}}</p>
              <p *ngIf="registroForm.get('email').errors?.pattern">{{regErrors.email}}</p>

            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{
          'has-danger':registroForm.get('password').invalid  && (registroForm.get('password').dirty || registroForm.get('password').touched),
          'has-success':registroForm.get('password').valid && (registroForm.get('password').dirty || registroForm.get('password').touched)
        }">
          <div class="col-xs-12">
            <input class="form-control" [ngClass]="{
             'form-control-danger':registroForm.get('password').invalid  && (registroForm.get('password').dirty || registroForm.get('password').touched),
             'form-control-success':registroForm.get('password').valid && (registroForm.get('password').dirty || registroForm.get('password').touched)
            }" type="password" placeholder="Contraseña" formControlName="password">

            <div class="form-control-feedback"
              *ngIf="registroForm.get('password').errors && (registroForm.get('password').dirty || registroForm.get('password').touched)">
              <p *ngIf="registroForm.get('password').errors?.required">{{mensajesError.password}}</p>
              <p *ngIf="registroForm.get('password').errors?.pattern">{{regErrors.password}}</p>
            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{
          'has-danger':registroForm.get('password2').invalid  && (registroForm.get('password2').dirty || registroForm.get('password2').touched),
          'has-success':registroForm.get('password2').valid && (registroForm.get('password2').dirty || registroForm.get('password2').touched)
        }">
          <div class="col-xs-12">
            <input class="form-control" [ngClass]="{
             'form-control-danger':registroForm.get('password2').invalid  && (registroForm.get('password2').dirty || registroForm.get('password2').touched),
             'form-control-success':registroForm.get('password2').valid && (registroForm.get('password2').dirty || registroForm.get('password2').touched)
            }" type="password" placeholder="Repetir Contraseña" formControlName="password2">

            <div class="form-control-feedback"
              *ngIf="registroForm.get('password2').errors && (registroForm.get('password2').dirty || registroForm.get('password2').touched)">
              <p *ngIf="contrasenaRequerida() ">{{mensajesError.password}}</p>
              <p *ngIf="contrasenasNoValidas()">{{mensajesError.contrasenasIguales}}</p>
            </div>
          </div>
        </div>
        <!--  {{registroForm.get('password2').value}}
        {{registroForm.get('password').value}}
         <pre>dirty? {{registroForm.controls.password2.dirty}}</pre>
        <pre>pristine? {{registroForm.controls.password2.pristine}}</pre>
        <pre>touched? {{registroForm.controls.password2.touched}}</pre>
        <pre>untouched? {{registroForm.controls.password2.untouched}}</pre>
        <pre>valid? {{registroForm.controls.password2.valid}}</pre>
        <pre>invalid? {{registroForm.controls.password2.invalid}}</pre>
        <pre>errores requierd? {{registroForm.controls.password2.errors.required}}</pre>
        <pre>errores minlength? {{registroForm.controls.password2.errors?.minlength}}</pre>
        <pre>errores ? {{registroForm.controls.password2.errors}}</pre>-->


        <!--<div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup" type="checkbox" formControlName="terminos">
              <label for="checkbox-signup"> Acepto los <a href="#">Términos</a></label>
            </div>
          </div>
        </div>-->
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit"
              [disabled]="registroForm.invalid">Registrarse</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Ya tienes una cuenta <a routerLink="/login" class="text-info m-l-5"><b>Inicia tu sesión</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
